.next
.vercel
build
coverage
cypress/screenshots
cypress/videos
lib
lib-untouched
node_modules
storybook-static
.DS_Store
npm-debug.log*
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
yarn.lock
vercel.json
package-lock.json
