#mainContent > h2 {
  @apply border-b border-b-metal-200 pb-2 text-body-2 font-semibold text-metal-900 dark:border-b-metal-600 dark:text-white;
}
#mainContent > p {
  @apply mt-4 text-body-3 font-normal text-metal-600 dark:text-metal-300;
}

#mainContent > p a {
  @apply text-primary-600 underline;
}
#mainContent > ul li {
  @apply mb-3 mt-4 text-body-4 font-normal text-metal-600 dark:text-metal-300;
}

#mainContent code {
  @apply rounded  bg-metal-50 px-2 py-1 dark:bg-metal-900;
}

#mainContent pre > code {
  @apply !pl-0;
}
#mainContent #cssCode {
  @apply bg-transparent;
}

#mainContent #sectionLink {
  @apply ml-2 text-primary-700 opacity-0 transition-opacity group-hover:opacity-100;
}

#mainContent > #table-of-contents {
  @apply hidden;
}

#mainContent > #table-of-contents + ul {
  @apply hidden;
}

#visible-table-of-contents {
  @apply list-none pl-0;
}

#visible-table-of-contents ul ul li a {
  @apply pl-6;
}

#visible-table-of-contents ul ul ul li a {
  @apply pl-9;
}

#visible-table-of-contents + ul {
  @apply -ml-3 list-outside list-none pl-0;
}

#visible-table-of-contents ul ul {
  @apply pt-3;
}

#visible-table-of-contents li {
  @apply my-2 -ml-px border-l border-l-transparent pl-3 text-body-4 text-metal-500 hover:border-l-metal-900 hover:text-metal-900 active:text-metal-900 dark:text-metal-400 dark:hover:text-white;
}

#visible-table-of-contents li:has(.active-link) {
  @apply border-l-metal-900 text-metal-900 transition-colors duration-300 hover:text-metal-900 active:text-metal-900 dark:border-l-white dark:text-white dark:hover:text-white;
}

#componentListSidebar::-webkit-scrollbar {
  display: none;
}

#linkPage::-webkit-scrollbar {
  display: none;
  width: 4px !important;
}
#linkPage::-webkit-scrollbar-track {
  background-color: transparent !important;
}
#linkPage::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e9eff6 !important;
}

body::-webkit-scrollbar {
  width: 8px !important;
}
body::-webkit-scrollbar-track {
  background-color: transparent !important;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #333 !important;
}

.tabActive {
  @apply border-b-metal-900 !text-metal-900;
}

.docs-page {
  @apply fixed left-0 right-0 top-24 -z-0 mx-auto max-w-[1240px] rounded-2xl bg-gradient-to-t from-primary-25 to-white xl:!h-2/4 2xl:top-40  2xl:!h-3/4 2xl:max-w-[1560px] 4k:max-w-[2000px] dark:from-[#1c222b05] dark:to-metal-900;
}

/* Blog Post */
.post {
  font-family: var(--font-inter), sans-serif;
}
.post h2 {
  @apply mb-3 mt-4 text-body-2 font-semibold text-metal-900 dark:text-white;
}
.post p {
  @apply mb-2 text-body-3 font-normal text-metal-600 dark:text-metal-300;
}
.post ul {
  @apply space-y-2;
}
.post ul li {
  @apply ml-6 list-disc text-body-4 font-normal text-metal-600 dark:text-metal-300;
}
.post ul li code {
  @apply rounded  bg-primary-50 px-2 py-1 text-primary-500 dark:bg-metal-800 dark:text-white;
}

.post pre {
  @apply my-10 overflow-x-auto rounded-xl bg-metal-900 p-5 text-white;
}

.theme-switch {
  @apply flex w-full items-center gap-3 rounded-lg px-3 py-2 text-body-4 font-medium text-metal-900 hover:bg-metal-25 dark:text-white dark:hover:bg-metal-800;
}

#blog-content {
  h2 {
    @apply my-4 border-b pb-2.5 text-body-1 font-medium dark:border-b-metal-800;
  }

  p {
    @apply text-body-3 font-normal;
  }

  ul {
    li {
      @apply text-body-4 font-normal;
    }
    @apply my-3 space-y-2 *:ml-4 *:list-inside *:list-disc;
  }

  pre {
    @apply overflow-auto;
  }

  a {
    @apply text-primary-500 hover:underline;
  }

  [data-rehype-pretty-code-figure] {
    @apply my-4 border border-metal-800 font-serif;
  }

  [data-rehype-pretty-code-figure] code {
    @apply py-6;
  }

  [data-line] {
    @apply my-0.5 px-5;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    display: inline-block;
    counter-increment: line;
    margin-right: 2rem;
    width: 0.75rem;
    content: counter(line);
    text-align: right;
  }

  [data-rehype-pretty-code-figure] [data-highlighted-chars] {
    @apply rounded bg-metal-800 px-1;
  }

  [data-rehype-pretty-code-figure] [data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-blue-400;
  }

  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 1.25rem;
  }

  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 1.75rem;
  }

  code[data-line-numbers-max-digits='4'] > [data-line]::before {
    width: 2.25rem;
  }
}
