#mainContent h2 {
  @apply font-semibold leading-6 tracking-[-0.3px] text-lg text-slate-900 pb-2 border-b border-b-slate-200;
}
#mainContent > p {
  @apply font-normal text-sm md:text-base leading-6 tracking-[-0.3px] text-slate-700 mt-4;
}
#mainContent > ul li {
  @apply font-normal text-base text-slate-500 mb-3 mt-4;
}

#mainContent code {
  @apply bg-slate-50  py-1 px-2 rounded;
}

#mainContent pre > code {
  @apply !font-inter !pl-0;
}
#mainContent #cssCode {
  @apply bg-transparent;
}

#mainContent #sectionLink {
  @apply ml-2 text-primary-700 opacity-0 transition-opacity group-hover:opacity-100;
}

#mainContent > #table-of-contents {
  @apply hidden;
}

#mainContent > #table-of-contents + ul {
  @apply hidden;
}

#visible-table-of-contents {
  @apply list-none pl-0;
}

#visible-table-of-contents ul ul li a {
  @apply pl-6;
}

#visible-table-of-contents ul ul ul li a {
  @apply pl-9;
}

#visible-table-of-contents + ul {
  @apply -ml-3 list-outside list-none pl-0;
}

#visible-table-of-contents ul ul {
  @apply pt-3;
}

#visible-table-of-contents li {
  @apply my-2 -ml-px pl-3 text-slate-500 border-l leading-7 tracking-[-0.2px] text-sm border-l-transparent hover:border-l-slate-900 hover:text-slate-900  active:text-slate-900;
}

#visible-table-of-contents li:has(.active-link) {
  @apply text-slate-900 border-l-slate-900 hover:text-slate-900  active:text-slate-900 transition-colors duration-300;
}

#linkPage::-webkit-scrollbar {
  width: 4px !important;
}
#linkPage::-webkit-scrollbar-track {
  background-color: transparent !important;
}
#linkPage::-webkit-scrollbar-thumb {
  background-color: #e9eff6 !important;
  border-radius: 10px;
}

.tabActive {
  @apply !text-slate-900 border-b-slate-900;
}
