#mainContent > h2 {
  @apply border-b border-b-metal-200 pb-2 text-body-3 font-semibold leading-6 tracking-[-0.3px] text-metal-900;
}
#mainContent > p {
  @apply mt-4 text-body-5 font-normal leading-6 tracking-[-0.3px] text-metal-700 md:text-body-4;
}

#mainContent > p a {
  @apply text-primary-600 underline;
}
#mainContent > ul li {
  @apply mb-3 mt-4 text-body-4 font-normal text-metal-500;
}

#mainContent code {
  @apply rounded  bg-metal-50 px-2 py-1;
}

#mainContent pre > code {
  @apply !pl-0;
}
#mainContent #cssCode {
  @apply bg-transparent;
}

#mainContent #sectionLink {
  @apply ml-2 text-primary-700 opacity-0 transition-opacity group-hover:opacity-100;
}

#mainContent > #table-of-contents {
  @apply hidden;
}

#mainContent > #table-of-contents + ul {
  @apply hidden;
}

#visible-table-of-contents {
  @apply list-none pl-0;
}

#visible-table-of-contents ul ul li a {
  @apply pl-6;
}

#visible-table-of-contents ul ul ul li a {
  @apply pl-9;
}

#visible-table-of-contents + ul {
  @apply -ml-3 list-outside list-none pl-0;
}

#visible-table-of-contents ul ul {
  @apply pt-3;
}

#visible-table-of-contents li {
  @apply my-2 -ml-px border-l border-l-transparent pl-3 text-body-5 leading-7 tracking-[-0.2px] text-metal-500 hover:border-l-metal-900 hover:text-metal-900  active:text-metal-900;
}

#visible-table-of-contents li:has(.active-link) {
  @apply border-l-metal-900 text-metal-900 transition-colors  duration-300 hover:text-metal-900 active:text-metal-900;
}

#linkPage::-webkit-scrollbar {
  width: 4px !important;
}
#linkPage::-webkit-scrollbar-track {
  background-color: transparent !important;
}
#linkPage::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e9eff6 !important;
}

.tabActive {
  @apply border-b-metal-900 !text-metal-900;
}
