@import './main.css';

html {
  @apply scroll-smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
  @apply bg-primary-25 dark:bg-metal-900;
}

.hero-text {
  animation: textAnimate 5s linear infinite;
  background-image: linear-gradient(45deg, #7028e4, #e5b2ca, #7028e4);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes textAnimate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

#sidebar ::-webkit-scrollbar {
  width: 4px;
}
#sidebar ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9fafb;
}
#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d7dfe9;
}

#search::-webkit-scrollbar {
  @apply w-2.5;
}
#search::-webkit-scrollbar-track {
  @apply bg-metal-25 dark:bg-metal-800;
}
#search::-webkit-scrollbar-thumb {
  @apply rounded-full bg-metal-100 dark:bg-metal-200;
}

main::-webkit-scrollbar {
  width: 10px;
}
main::-webkit-scrollbar-track {
  background-color: #f9fafb;
}
main::-webkit-scrollbar-thumb {
  background-color: #d7dfe9;
}

pre::-webkit-scrollbar {
  width: 5px;
  height: 8px !important;
}
pre::-webkit-scrollbar-track {
  background-color: #d7dfe9 !important;
}
pre::-webkit-scrollbar-thumb {
  background-color: #afbaca !important;
}

#tableScrollBar::-webkit-scrollbar {
  height: 8px !important;
}
#tableScrollBar::-webkit-scrollbar-track {
  background-color: #f9fafb;
}
#tableScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d7dfe9;
}

.keep-shadow {
  box-shadow:
    0px 1px 2px 0px rgba(45, 54, 67, 0.05),
    0px -4px 0px 0px rgba(215, 223, 233, 0.5) inset,
    0px -3px 0px 0px #f0f4f9 inset;
  border: 1px solid #d7dfe9;
  border-radius: 16px;
  background: #fff;
}

/* ============community================ */

.community,
.hero-area {
  @apply relative z-40;
}

.community::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: url('/images/home/community.svg');
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: '';
}

.hero-area::before {
  display: block;
  position: absolute;
  top: 8rem;
  right: 0;
  left: 0;
  z-index: -1;
  background: url('/images/home/community.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: '';
}

.community-1 {
  background: linear-gradient(227deg, #c0adff 0%, #6457c6 95.09%);
  @apply w-full rounded-2xl bg-white p-7 transition-all duration-300 hover:-translate-y-1 md:col-span-1 lg:col-span-2 lg:row-span-2 lg:p-0;
}

.community-2 {
  background: linear-gradient(61deg, #000 20.68%, #393d33 99.76%);
  @apply w-full rounded-2xl bg-white transition-all duration-300 hover:-translate-y-1 md:col-span-1 lg:col-span-1 lg:row-span-1;
}

.community-3 {
  background: linear-gradient(72deg, #44c3df 6.93%, #6de5cf 98.71%);
  @apply w-full rounded-2xl bg-white transition-all duration-300 hover:-translate-y-1 md:col-span-1 lg:col-span-1 lg:row-span-1;
}
.community-4 {
  background: linear-gradient(72deg, #3a6df0 3.09%, #ee95d5 96.55%);
  @apply w-full rounded-2xl bg-white transition-all duration-300 hover:-translate-y-1 md:col-span-1 lg:col-span-2 lg:row-span-1;
}

.repo-btn {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  background: rgba(249, 250, 251, 0.2);
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter;
  letter-spacing: -0.3px;
}
