/* Date picker root element style */
.react-datepicker {
  font-family: inherit;
  box-shadow: 0px 32px 64px -12px rgba(45, 54, 67, 0.14);
  background-color: #fff;
  border: none;
  z-index: 9999;
}

.react-datepicker__month-container {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
}

.react-datepicker__children-container {
  @apply w-full m-0 pr-0 pl-0;
}

/* Header styling */
.react-datepicker__header {
  padding-bottom: 0.5rem;
  border-bottom: none;
  background-color: #fff;
  border-radius: 0;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0rem;
}

/* Switch Month Start */

/* Previous angle icon button style */
.react-datepicker__navigation--previous {
  @apply top-[35px] left-6;
}
/* Next angle icon button style */
.react-datepicker__navigation--next {
  @apply top-[35px] right-6;
}

/* Angle Icon */
.react-datepicker__navigation-icon {
  @apply !text-slate-500 text-sm;
}

/* Angle Icon color and Width */
.react-datepicker__navigation-icon::before {
  border-color: #5e718d;
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

/* Switch Month End */

/* Current Month name and year */
.react-datepicker__current-month {
  @apply text-base font-semibold text-slate-800 mb-5;
}

/* Full month */
.react-datepicker__month {
  @apply m-0;
}

/* Weak Day Name area */
.react-datepicker__day-names {
  @apply flex items-center justify-between gap-2  border-t border-b border-t-slate-50 border-b-slate-50;
}

.react-datepicker__day-name {
  @apply text-base font-normal text-slate-500;
}

/* Weak Row */
.react-datepicker__week {
  @apply flex items-center justify-center gap-0 my-2;
}

.react-datepicker__week:last-child {
  @apply mb-4;
}

/* Single Day Style */
.react-datepicker__day {
  @apply text-base font-medium text-slate-800 h-10 w-10 flex items-center justify-center m-0;
}

/* Today */
.react-datepicker__day--today {
  @apply rounded-md;
}

/* Outside date in calendar */
.react-datepicker__day--outside-month {
  @apply text-base font-medium text-slate-300;
}

/* Selected Day */
.react-datepicker__day--selected,
.react-datepicker__day--today {
  @apply text-white bg-primary-500 hover:bg-primary-400;
}

/* Selected Day with Keyboard */
.react-datepicker__day--keyboard-selected {
  @apply bg-primary-500 text-white hover:bg-primary-400;
}

/* =====================DATE RANGE PICKER STYLE START====================== */

/* Selected date in range */
.react-datepicker__day--in-range {
  @apply bg-primary-50 hover:bg-primary-50 rounded-none hover:rounded-none;
}

.react-datepicker__day--in-range.react-datepicker__day--today {
  @apply text-slate-800;
}

.react-datepicker__day--range-start.react-datepicker__day--today {
  @apply text-white;
}

/* Selected date last element */
.react-datepicker__day--in-range:last-child {
  @apply rounded-r-md;
}

/* Selected date first element */
.react-datepicker__day--in-range:first-child {
  @apply rounded-l-md;
}

/* Selected date first and last element */
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  @apply !bg-primary-500 text-white hover:bg-primary-400 rounded-md hover:rounded-md;
}

/* Selected date in range */
.react-datepicker__day--in-selecting-range {
  @apply !bg-primary-50 text-slate-600 rounded-none hover:rounded-none;
}

/* =====================DATE RANGE PICKER STYLE END====================== */

/* ================ MONTH PICKER START =========== */

/* Month names container */
.react-datepicker__month-wrapper {
  @apply flex items-center justify-between gap-3;
}

/* Selected month */
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__month-text.react-datepicker__month--selected {
  @apply bg-primary-50 text-primary-600;
}

/* Month text style */
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  @apply w-12 h-12 flex items-center justify-center hover:bg-primary-50 transition-all duration-200 text-sm font-medium text-slate-800;
}

/* Current month style */
.react-datepicker__month-text--today {
  @apply !text-primary-600;
}

/* ================ MONTH PICKER END =========== */

/* ================ YEAR PICKER START =========== */
/* Years container */
.react-datepicker__year-wrapper {
  @apply grid grid-cols-4 max-w-lg items-center justify-center;
}

/* year box styling */
.react-datepicker__year .react-datepicker__year-text {
  @apply w-12 h-12 flex items-center justify-center hover:bg-primary-50 transition-all duration-200 text-sm font-medium text-slate-800 rounded-md;
}

/* selected year style */
.react-datepicker__year-text--selected {
  @apply bg-primary-50 text-primary-600 rounded-md;
}

/* current year style */
.react-datepicker__year-text--today {
  @apply bg-primary-50 !text-primary-600 rounded-md;
}
/* ================ YEAR PICKER END =========== */
/* ================ TIME PICKER START =========== */

/* Time Picker header text style */
.react-datepicker-time__header {
  @apply text-xl font-medium text-slate-700 border-b border-b-slate-50;
}

/* Time picker container style */
.react-datepicker__time-container {
  @apply !w-[200px];
}

/* time picker time list box */
.react-datepicker__time-box {
  @apply !w-full;
}

/* time list item style */
.react-datepicker__time-list-item {
  @apply !h-10 flex items-center justify-center hover:!bg-primary-500 hover:text-white text-[18px] font-medium text-slate-500;
}

/* Time picker container scroll bar style */
.react-datepicker__time-container ::-webkit-scrollbar {
  @apply w-2;
}
.react-datepicker__time-container ::-webkit-scrollbar-track {
  background-color: #f9fafb;
  border-radius: 10px;
}
.react-datepicker__time-container ::-webkit-scrollbar-thumb {
  background-color: #d7dfe9;
  border-radius: 10px;
}
/* ================ TIME PICKER END =========== */
